# This is the base, non-sensitive part of your rclone.conf
# It will be applied on all machines.

[jefferson]
type = sftp
host = jefferson
user = root
disable_hashcheck = true
shell_type = unix

[ty]
type = sftp
host = ty
shell_type = unix
md5sum_command = md5sum
sha1sum_command = sha1sum

[pmcHasher]
type = hasher
remote = /Volumes/Mini Pudge/pmc
hashes = md5
max_age = off

[jackie2Hasher]
type = hasher
remote = jackie2:/media
hashes = md5
max_age = off

{{/* --- Logic to include encrypted secrets --- */}}

{{- $keyPath := joinPath .chezmoi.homeDir ".config" "age" "key.txt" -}}
{{- if stat $keyPath }}

{{- /*
The age key exists, so we can safely decrypt and include the secrets.
The path in the 'include' function now EXACTLY matches the filename
in your source directory.
*/}}

{{ include "private_dot_config/rclone/encrypted_private_secrets.conf.age" | decrypt }}

{{- end }}
