# Ignore project files that shouldn't be in the destination directory.
README.md
install.sh

# This is the symmetrically encrypted master key. The run_before_ script reads
# it from the source directory, but it should never be placed in the destination.
private_dot_config/age/secret_key.txt.age-symmetric


{{/* --- Conditional Ignores --- */}}
{{/* This block only runs if the primary age key does NOT exist. */}}

{{- $keyPath := joinPath .chezmoi.homeDir ".config" "age" "key.txt" -}}
{{- if not (stat $keyPath) -}}

# The age key is not present, so we ignore the rclone secrets file.
# This path is now confirmed to be correct by the `chezmoi managed` command.
private_dot_config/rclone/encrypted_private_secrets.conf.age

{{- end -}}
