export PATH=$HOME/bin:/usr/local/bin:/opt/homebrew/bin:/usr/local/go/bin:$PATH

# Activate zsh autocompletions
autoload -Uz compinit
compinit
{{ if eq .chezmoi.os "linux" }}
  export EDITOR=nvim
  alias db='distrobox enter boxkit --name boxkit -- zellij'
{{ end }}
# {{ if (eq .chezmoi.os "darwin") }}
# Leave the comment line below due to a very annoying lmstudio behavior: https://github.com/lmstudio-ai/lmstudio-bug-tracker/issues/656
# /Users/maeick/.lmstudio/bin

if [ -d "$HOME/.lmstudio" ]
then
  # Added by LM Studio CLI (lms)
  export PATH="$PATH:$HOME/.lmstudio/bin"
fi

# For Volta (an nvm like thing that is supposed to be fast)
if [ -d "$HOME/.volta" ]
then
  export VOLTA_HOME="$HOME/.volta"
  export PATH="$VOLTA_HOME/bin:$PATH"
fi
# {{ end }}
# For starship prompt, test if program exists, then set the prompt
if command -v starship &> /dev/null
then
  eval "$(starship init zsh)"
fi

if command -v atuin &> /dev/null
then
  eval "$(atuin init zsh)"
fi
