[user]
  email = "andy@eick.com"
  name = "M. Andrew Eick"
{{ if eq .chezmoi.os "darwin" }}
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAJldmPLBuDgtd+95XfPdncBYpxWfcXLaCX7lwM5GLCq andy-anywhere@eick.com
{{ else }}
  # vipers for now
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAJldmPLBuDgtd+95XfPdncBYpxWfcXLaCX7lwM5GLCq andy-anywhere@eick.com
{{ end }}

# If I want to use the key from my SSH agent to sign, use the following line
# N.B., this only works localy, not when the agent is fowarded
# signingkey = SHA256:RLFKL0qVB1VWB7XC2qLlRYOlz7r9bJQAHabEa2kEhoA

[gpg]
  format = ssh
[commit]
  gpgsign = true

{{ if eq .chezmoi.os "darwin" }}
[diff]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
	trustExitCode = true
[merge]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
{{ end }}
