#!/usr/bin/env sh

# Set the environment variable AGE_PASSWORD and then do a chezmoi apply
# If the environment variable is set, then decrypt the private key to the ~/.config/age/key.txt location

if [ -n "$AGE_PASSWORD" ] && [ ! -f "${HOME}/.config/age/key.txt" ]; then
    mkdir -p "${HOME}/.config/age"
    chezmoi age decrypt --output "${HOME}/.config/age/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "${HOME}/.config/age/key.txt"
fi
