@cert-authority *.missionfocus.com ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCZ5ooZY+2Ad7XbD60nS2YSDSnykIb/JnUvBjak2uLG8gv9IVGLlqs1dFStKzjihk9t/stmhPJYBVGNkVTHeNT2WLeVoY4Yt+Dh+spfoSM0y3PG6e/pBZCJZj3im1e6VnBer/iqvxUu9vQ7eqxIbtanbVXWuNuQ+YDyy4RpNn6X1JVfRgi9at3M/aLVy0tefKQOAXVbMkN79dHh+OxMmuGy4GRmmrcafU4VtUBqKubPXVdt8LRBkImXPyBgYl/qoOtYGJZLY6iKIWk+4PPHFIIJzox01jx0JtI9VK+j6FJA0IsUbW5qnSDLFhvrSa/BUxxY5Y70hFPSS2gQhudWUrg+3YE4638GxZqhBzYAt0V48zB69DbUD0QzlLQ97vXQ+i0JNbqw6jO6bcWsJWuBx6jGO5RMcLeP2ev+MUUgYiT53s/fHTRwETcutdxgVtI1SKZaou3e3ZYAmyhHOjlOuo0tHdq7dQ2SABHrYs5c8JqF2c5maMUXm7tZjDWzC0/xTb7oW0+dIhJOHjuQqhRwZQ0PfKX8VcsFMtaX9AoQdqC1dHMVAe/DpewJBV2EibQRcWSdGR6X+b1f0hKyDYn587A1Yjz29Ndt74xqKSvL3lsnyT9VzRUsKPcaV1k31OEXODfbYhnv22H0/dsEbAH8z6+uP6ZXNk2545TVM/dXLyY52Q==
{{ if eq .chezmoi.os "darwin" -}}
github.com ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAq2A7hRGmdnm9tUDbO9IDSwBK6TbQa+PXYPCPy6rbTrTtw7PHkccKrpp0yVhp5HdEIcKr6pLlVDBfOLX9QUsyCOV0wzfjIJNlGEYsdlLJizHhbn2mUjvSAHQqZETYP81eFzLQNnPHt4EVVUh7VfDESU84KezmD5QlWpXLmvU31/yMf+Se8xhHTvKSCZIFImWwoG6mbUoWf9nzpIoaSjB+weqqUUmpaaasXVal72J+UX2B+2RPW3RcT0eOzQgqlJL3RKrTJvdsjE3JEAvGq3lGHSZXy28G3skua2SmVi/w4yCE6gbODqnTWlg7+wC604ydGXA8VJiS5ap43JXiUFFAaQ==
ssh.git.missionfocus.com ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBPKcK7E4rb2eGLA+cJKhJaMDHVIlFPGaEzeoLxSOmojJEb/U0a3OZrvvDOoQINOQzQKpCBQf2Gc45C5fEyeIz2c=
pudge.missionfocus.com ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBOOmh0/J0tPnfxQGe69VS1xAdXHHiqlQeY/lDzUFgOTOy7f15ApclySOl2GkFpVZfSAWLerzh8KudJXNEmWuj90=
sparky.missionfocus.com ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBMoenq7+budYYkgodLaZUlzt8YphGVHAApmiLk9y3pkzJqXxf3G1NhZTGhNEimh9dh2frJgP/J9syAP/ctYKhe8=
ty.missionfocus.com,10.1.200.253 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBP2ce0IwtrfR6OjPpZHq0TEuzsGB0fsqwcm1LTrU96OE4EjKlsXgrGkMeq6deEquWfFaZxGItNQmCaVKfy2ceS4=
{{ else if eq .chezmoi.os "linux" -}}
# Linux .bashrc contents
{{ end -}}
