Host *
  StrictHostKeyChecking no

Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/andy-anywhere

Host palace-work.spouterinn.org
    HostName 10.200.10.47
    User maeick
    IdentityFile ~/.ssh/andy-anywhere
    ForwardAgent yes

Host vipers.spouterinn.org
    HostName 10.200.10.43
    User maeick
    IdentityFile ~/.ssh/andy-anywhere
    ForwardAgent yes

Host palace-dmz.spouterinn.org
    HostName 10.200.60.47
    User maeick
    IdentityFile ~/.ssh/andy-anywhere
    ForwardAgent yes

Host jefferson.spouterinn.org
    HostName 10.200.10.80
    User maeick
    IdentityFile ~/.ssh/andy-anywhere
    ForwardAgent yes

Host pudge.spouterinn.org
    HostName 10.200.10.45 
    User mae
    IdentityFile ~/.ssh/andy-anywhere
    ForwardAgent yes

Host photos.organmorgan.com
    HostName 10.200.60.48
    User maeick
    IdentityFile ~/.ssh/andy-anywhere
    ForwardAgent yes
